@media only screen and (max-width: 550px) {
  .content-container.container.slider {
    width: 85%; }
  .content-container.container.band {
    padding: 15px 0;
    flex-direction: column-reverse; }
    .content-container.container.band .home-content, .content-container.container.band .home-sidebar {
      display: block;
      width: 95%;
      margin: 0 auto;
      padding: 25px 0 35px; }
    .content-container.container.band .home-sidebar {
      border-bottom: 1px solid #2f4c6e; }
      .content-container.container.band .home-sidebar form {
        margin-bottom: 45px; }
    .content-container.container.band .home-content {
      border-top: 1px solid #152232; } }
