@import url("https://fonts.googleapis.com/css?family=Bungee+Inline|Open+Sans:300|Roboto+Slab:300,400,700");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*-- Globals --*/
body {
  background: #ffffff;
  /* Old browsers */
  background: -moz-linear-gradient(top, #ffffff 0%, #eeeeee 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #ffffff 0%, #eeeeee 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #ffffff 0%, #eeeeee 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee',GradientType=0 );
  /* IE6-9 */ }

body, p, li, a, h1, h2, h3, h4 {
  font-size: 12pt;
  -webkit-font-smoothing: antialiased;
  font-family: 'Open Sans', sans-serif; }

body {
  position: relative;
  background: #ccffee;
  /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover, #ccffee 0%, #86f4d7 100%);
  /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover, #ccffee 0%, #86f4d7 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center, #ccffee 0%, #86f4d7 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */ }

a {
  text-decoration: none; }

.full-wrapper {
  width: 100%;
  display: flex; }

.container {
  width: 92%;
  max-width: 1500px;
  margin: 25px auto; }

.header-wrapper {
  background: #fff; }
  .header-wrapper header {
    min-height: 125px;
    position: relative;
    margin: 0; }
    .header-wrapper header .wrapper {
      display: flex;
      justify-content: space-between;
      transition: all 350ms ease-in-out; }
      .header-wrapper header .wrapper a.logo {
        display: flex;
        align-items: center; }
        .header-wrapper header .wrapper a.logo > img {
          max-width: 150px; }
        .header-wrapper header .wrapper a.logo h1 {
          font-family: 'Sedgwick Ave Display', cursive;
          font-family: 'Bungee Inline', cursive;
          font-weight: 100;
          font-size: 54pt;
          margin: 4px 0 0 -14px;
          color: #e94c61;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column;
          line-height: 1; }
          .header-wrapper header .wrapper a.logo h1 span.tagline {
            margin: -6px 0 0px 0;
            color: #125c74;
            font-size: 15pt;
            letter-spacing: -1px;
            font-family: 'Open Sans', sans-serif; }
      .header-wrapper header .wrapper .nav {
        display: flex;
        align-items: center;
        transition: height 350ms ease-in-out;
        margin: 0 3% 0 0; }
        .header-wrapper header .wrapper .nav li {
          font-family: 'Open Sans', sans-serif;
          margin: 10px 15px 0 0;
          font-weight: bold; }
          .header-wrapper header .wrapper .nav li a {
            color: #e94c61;
            transition: all 150ms ease-in-out;
            transform: scale(1);
            display: block;
            text-transform: capitalize; }
          .header-wrapper header .wrapper .nav li a:hover, .header-wrapper header .wrapper .nav li a.active {
            color: #b8172c;
            transform: scale(1.2); }
      .header-wrapper header .wrapper .phone {
        position: absolute;
        right: 15px;
        color: #eee;
        font-weight: bold; }
  .header-wrapper .nav-toggle {
    display: none;
    color: #fff;
    font-size: 22pt; }
  .header-wrapper.rearrange > .container {
    width: 50%; }
    .header-wrapper.rearrange > .container header .wrapper {
      flex-direction: column; }
      .header-wrapper.rearrange > .container header .wrapper .logo-text {
        align-items: center; }
      .header-wrapper.rearrange > .container header .wrapper .nav {
        justify-content: center; }
      .header-wrapper.rearrange > .container header .wrapper .phone {
        right: 40%;
        top: -10px; }
  .header-wrapper.mobile.full-wrapper {
    overflow: initial; }
    .header-wrapper.mobile.full-wrapper header .wrapper .logo-text a.logo h1 > span {
      display: none; }
    .header-wrapper.mobile.full-wrapper .nav-toggle {
      display: block;
      position: absolute;
      right: 8%;
      top: 40%; }
    .header-wrapper.mobile.full-wrapper header {
      position: initial; }
      .header-wrapper.mobile.full-wrapper header .wrapper {
        justify-content: center; }
        .header-wrapper.mobile.full-wrapper header .wrapper .nav {
          flex-direction: column;
          top: 99%;
          right: 25%;
          width: 50%;
          background: #888888;
          position: absolute;
          border-radius: 0 0 5px 5px;
          border: 1px solid #555;
          border-top: none;
          height: 0;
          overflow: hidden; }
          .header-wrapper.mobile.full-wrapper header .wrapper .nav.active {
            height: 130px; }
          .header-wrapper.mobile.full-wrapper header .wrapper .nav li {
            width: 100%;
            margin: 0 auto;
            text-align: center; }
            .header-wrapper.mobile.full-wrapper header .wrapper .nav li:last-child a {
              padding-bottom: 12px; }
            .header-wrapper.mobile.full-wrapper header .wrapper .nav li a {
              padding: 7px; }
              .header-wrapper.mobile.full-wrapper header .wrapper .nav li a:hover {
                background: #7b7b7b;
                cursor: pointer;
                transform: scale(1); }

.hero {
  display: flex;
  height: 100%; }
  .hero li {
    width: 25%;
    display: flex;
    height: 100%;
    flex-direction: column;
    margin-right: 1px; }
    .hero li h2 {
      font-family: 'Roboto Slab', serif;
      text-transform: capitalize;
      font-weight: bold;
      margin: 0 0 15px;
      font-size: 20pt; }
    .hero li .graphic {
      width: 100%;
      height: 250px;
      background: #333; }
    .hero li .message {
      min-height: 47%; }
      .hero li .message p {
        line-height: 1.2; }
    .hero li:nth-child(1) {
      background: #333;
      color: #e94c61; }
      .hero li:nth-child(1) h2 {
        font-size: 35pt; }
      .hero li:nth-child(1) span {
        color: #fff; }
    .hero li:nth-child(odd) h2 {
      margin: 15px 0; }
    .hero li:nth-child(odd).col .panel {
      background: #333;
      right: 0;
      transition: right 250ms 100ms ease-in-out; }
    .hero li:nth-child(even) h2 {
      margin: 15px 0; }
    .hero li:nth-child(even).col .panel {
      background: #125b74;
      left: 0;
      transition: left 250ms 100ms ease-in-out; }
      .hero li:nth-child(even).col .panel h2 {
        color: #fff; }
    .hero li:nth-child(2) .content {
      background: #a1d8c7; }
      .hero li:nth-child(2) .content h2 {
        color: #125b74; }
    .hero li:nth-child(3) .content {
      background: #8cbdae; }
    .hero li:nth-child(4) .content {
      background: #76a093; }
    .hero li p {
      font-family: 'Open Sans', sans-serif;
      color: #fff;
      font-size: 17pt; }
  .hero li.col {
    position: relative;
    z-index: 1; }
    .hero li.col .content {
      position: relative;
      z-index: 10;
      padding: 10px 20px; }
    .hero li.col .panel {
      position: absolute;
      top: 0;
      height: 100%;
      width: 100%;
      z-index: 1; }
    .hero li.col:nth-child(even):hover {
      cursor: pointer; }
      .hero li.col:nth-child(even):hover .panel {
        left: -100%; }
    .hero li.col:nth-child(odd):hover {
      cursor: pointer; }
      .hero li.col:nth-child(odd):hover .panel {
        right: -100%; }

.gallery .header-wrapper header .wrapper .nav li:nth-child(3) a {
  color: #fff; }

.content-wrapper > .banner {
  position: relative;
  background: #333;
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #000;
  box-shadow: inset 0px 0px 145px #000;
  overflow: hidden; }
  .content-wrapper > .banner img {
    max-width: 100%;
    top: 0;
    left: 0;
    filter: blur(2px);
    opacity: 0.7;
    transition: filter, opacity 500ms; }
  .content-wrapper > .banner .cta {
    position: absolute;
    right: 10%;
    bottom: 30%; }
    .content-wrapper > .banner .cta h2 {
      color: #fff;
      text-transform: capitalize;
      font-size: 30pt;
      font-weight: bold;
      text-shadow: 0px 1px #333; }
    .content-wrapper > .banner .cta ul {
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin: 7px 0 0;
      float: right; }
      .content-wrapper > .banner .cta ul li {
        display: flex;
        width: 49%; }
        .content-wrapper > .banner .cta ul li a {
          display: flex;
          background: #fff;
          color: #fff;
          width: 100%;
          justify-content: center;
          padding: 7px;
          border-radius: 4px;
          text-transform: capitalize;
          border: 1px solid #e6e6e6;
          transition: background 250ms; }
          .content-wrapper > .banner .cta ul li a:hover {
            cursor: pointer; }
          .content-wrapper > .banner .cta ul li a:hover {
            background: #d9d9d9; }
        .content-wrapper > .banner .cta ul li:last-child a {
          background: #253d59;
          border: 1px solid #162435; }
          .content-wrapper > .banner .cta ul li:last-child a:hover {
            background: #0f1823; }
  .content-wrapper > .banner:hover > img {
    filter: blur(0px);
    opacity: 1;
    cursor: pointer; }

.content-container {
  display: flex;
  justify-content: space-between; }
  .content-container.band {
    position: relative;
    background: #253d59;
    box-sizing: border-box;
    padding: 30px 5%;
    margin: 0;
    width: 100%;
    max-width: -webkit-fill-available;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #000;
    overflow: hidden; }
    .content-container.band p {
      margin: 0 0 15px; }
    .content-container.band .section {
      margin: 0 0 25px 0; }
    .content-container.band .home-content {
      width: 67%; }
      .content-container.band .home-content p {
        color: #b9d9ff; }
      .content-container.band .home-content .testimonials {
        margin: 0 0 25px 0;
        height: 55px; }
        .content-container.band .home-content .testimonials .quote {
          font-size: 75pt;
          font-family: 'Passion One', cursive;
          transform: scale(-1, 1);
          position: absolute;
          top: -30px;
          left: -50px; }
        .content-container.band .home-content .testimonials:nth-child(1) {
          position: relative; }
      .content-container.band .home-content h4 {
        color: #fff;
        font-size: 14pt;
        font-weight: bold;
        text-transform: capitalize;
        margin: 25px 0 7px; }
    .content-container.band .home-sidebar {
      width: 25%;
      display: flex;
      position: relative;
      flex-direction: column; }
      .content-container.band .home-sidebar h2 {
        margin: 0 0 25px;
        color: #fff; }
      .content-container.band .home-sidebar form {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: 0 0 25px; }
        .content-container.band .home-sidebar form.error {
          color: #9d0404;
          background: #ffc1c1;
          padding: 10px;
          box-sizing: border-box;
          border: 1px solid #9d0404;
          line-height: 1.2; }
        .content-container.band .home-sidebar form.success {
          color: #055300;
          background: #d5ffd2;
          padding: 10px;
          box-sizing: border-box;
          border: #055300;
          line-height: 1.2; }
        .content-container.band .home-sidebar form label {
          margin: 0 0 20px;
          color: #efefef; }
          .content-container.band .home-sidebar form label input, .content-container.band .home-sidebar form label textarea {
            margin: 4px 0 0;
            padding: 7px 4px;
            width: 100%;
            border-radius: 2px;
            border: 1px solid #010203;
            font-size: 10pt; }
        .content-container.band .home-sidebar form button {
          background: #fff;
          color: #fff;
          font-size: 12pt;
          border: none;
          padding: 7px; }
    .content-container.band h2 {
      color: #ff6e2f;
      font-weight: 700;
      font-size: 18pt;
      text-transform: capitalize;
      margin: 0 0 10px; }

.affiliations {
  display: flex;
  justify-content: center;
  flex-direction: column; }
  .affiliations h2 {
    margin-bottom: 10px; }
  .affiliations li {
    margin: 0 0 15px; }
    .affiliations li a {
      color: #fff;
      font-size: 10pt;
      text-transform: capitalize;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      position: relative;
      padding: 7px 0;
      box-sizing: border-box; }
      .affiliations li a i {
        font-size: 17pt;
        position: absolute;
        left: 0; }
  .affiliations li.social {
    justify-content: center;
    align-content: center;
    display: flex; }
    .affiliations li.social ul {
      display: flex;
      flex-direction: column;
      width: 100%; }
      .affiliations li.social ul li {
        margin: 0 0 5px;
        box-sizing: border-box;
        padding: 4px 4px 4px 10px;
        border-radius: 4px; }
        .affiliations li.social ul li:nth-child(1) {
          background: #d90007; }
        .affiliations li.social ul li:nth-child(2) {
          background: #3b5998; }
        .affiliations li.social ul li:nth-child(3) {
          background: #29A036; }

.slick-slider {
  height: 250px;
  width: 98%;
  margin: 0 auto; }
  .slick-slider.slick-initialized .slick-slide {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: #000;
    color: #fff;
    margin: 0 15px 0 0; }
    .slick-slider.slick-initialized .slick-slide img {
      max-width: 100%; }

.btt {
  position: fixed;
  right: 2%;
  color: #fff;
  top: 92%;
  font-size: 15pt;
  display: none;
  z-index: 10; }
  .btt:hover {
    cursor: pointer; }

.content-wrapper.gallery {
  width: 95%;
  margin: 150px auto 100px; }

.infobar {
  background: #000;
  height: 28px;
  width: 100%;
  line-height: 28px;
  position: fixed;
  bottom: 0px;
  left: 0;
  z-index: 999999999;
  text-align: center;
  color: #ddd;
  text-shadow: 0px 0px 1px #ccc;
  opacity: 0;
  transition: opacity 250ms; }
  .infobar.active {
    opacity: 1; }
  .infobar .close {
    display: none;
    right: 2%;
    position: fixed;
    color: red; }
    .infobar .close:hover {
      cursor: pointer; }
    .infobar .close.active {
      display: inline; }

span#description {
  text-shadow: 1px 1px 1px #000;
  display: none; }

span#loading {
  display: none;
  padding-right: 30px;
  background: transparent url(../../img/loading.gif) no-repeat center right; }

#thumbsWrapper {
  overflow: scroll;
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0px;
  right: 0px;
  bottom: 0px;
  top: 97px;
  transition: all 250ms ease-in-out; }
  #thumbsWrapper.active {
    height: 100%; }

#content {
  position: absolute;
  top: 0px;
  height: 100%;
  width: 100%;
  left: 0px;
  background-color: #111;
  overflow-y: scroll;
  display: none;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0px 0 100px 0; }

#content img {
  float: left;
  margin: 2px;
  cursor: pointer;
  opacity: 0.4;
  width: 250px;
  height: 250px; }

.placeholder {
  float: left;
  clear: both;
  width: 100%;
  height: 30px; }

#panel {
  background-color: #222;
  width: 100%;
  position: fixed;
  top: 97px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 0px;
  text-align: center;
  transition: all 250ms; }
  #panel.active {
    height: 100%; }

#panel img {
  cursor: pointer;
  position: relative;
  border: 1px solid #000;
  -moz-box-shadow: 0px 0px 10px #111;
  -webkit-box-shadow: 0px 0px 10px #111;
  box-shadow: 0px 0px 10px #111;
  display: none; }

#wrapper {
  position: relative;
  margin: 40px auto 0px auto; }
  #wrapper > img {
    transition: opacity 250ms;
    max-width: 80%;
    max-height: 550px; }
    #wrapper > img.dormant {
      opacity: 0; }

a#next,
a#prev {
  width: 40px;
  height: 40px;
  position: fixed;
  cursor: pointer;
  outline: none;
  display: none;
  background: #000;
  flex-direction: column;
  justify-content: center; }
  a#next i,
  a#prev i {
    color: #fff;
    font-size: 21pt; }

a#next:hover, a#prev:hover {
  background-color: #333; }

a#next {
  right: 0px;
  top: 50%;
  margin-top: -20px;
  background-position: 0px 0px; }

a#prev {
  left: 0px;
  top: 50%;
  margin-top: -20px;
  background-position: 0px -40px; }

footer {
  display: flex;
  display: none;
  align-items: flex-start;
  padding: 20px 0 40px;
  box-sizing: border-box;
  justify-content: space-around;
  border-top: 1px solid #000; }
  footer div {
    width: 30%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column; }
    footer div:nth-child(1) h4:nth-child(even) {
      margin: 25px 0 0 0; }
    footer div h4 {
      font-weight: bold;
      font-size: 17pt;
      color: #999;
      margin: 0 0 5px 0;
      text-transform: capitalize; }
    footer div p, footer div li {
      color: #565565;
      font-size: 13pt;
      font-weight: 500;
      line-height: 1.4; }
    footer div li.bbb {
      background: #fff;
      padding: 5px;
      box-sizing: border-box;
      border-radius: 10px;
      border-radius: 10px;
      display: inline-flex;
      align-self: center;
      margin: 12px 0 0 0; }
      footer div li.bbb img {
        width: 150px;
        height: 65px; }

.gallery footer {
  display: none; }

@media only screen and (max-width: 550px) {
  .content-container.container.slider {
    width: 85%; }
  .content-container.container.band {
    padding: 15px 0;
    flex-direction: column-reverse; }
    .content-container.container.band .home-content, .content-container.container.band .home-sidebar {
      display: block;
      width: 90%;
      margin: 0 auto;
      padding: 25px 0 35px; }
    .content-container.container.band .home-sidebar {
      border-bottom: 1px solid #2f4c6e; }
      .content-container.container.band .home-sidebar form {
        margin-bottom: 45px; }
    .content-container.container.band .home-content {
      border-top: 1px solid #152232; }
  body > .content-wrapper .banner {
    height: 275px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    margin: 0 0 10px;
    overflow: hidden;
    width: 100%;
    align-items: center; }
    body > .content-wrapper .banner img {
      max-width: 665px;
      position: absolute;
      z-index: 10; }
    body > .content-wrapper .banner .cta {
      display: flex;
      position: relative;
      z-index: 20;
      flex-direction: column;
      margin: 0 0 45px;
      width: 95%;
      align-items: center;
      right: initial;
      bottom: initial; }
      body > .content-wrapper .banner .cta h2 {
        font-size: 17pt; }
  .header-wrapper img.hbg {
    top: -15px;
    width: 360%; }
  .content-container.band .home-content .testimonials {
    height: 135px;
    overflow: auto; }
    .content-container.band .home-content .testimonials span.quote {
      display: none; }
  footer {
    display: block; }
    footer div {
      width: 90%;
      display: block;
      margin: 0 auto 30px; }
      footer div h4 {
        font-size: 16pt; }
      footer div li, footer div p {
        font-size: 12pt; } }
