@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,800|Oswald:400,500,700|Passion+One:400,700,900");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*-- Globals --*/
body {
  background: #ffffff;
  /* Old browsers */
  background: -moz-linear-gradient(top, #ffffff 0%, #eeeeee 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #ffffff 0%, #eeeeee 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #ffffff 0%, #eeeeee 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee',GradientType=0 );
  /* IE6-9 */ }

body, p, li, a, h1, h2, h3, h4 {
  font-size: 12pt;
  -webkit-font-smoothing: antialiased;
  font-family: 'Open Sans', sans-serif; }

body {
  background: #333;
  position: relative; }

a {
  text-decoration: none; }

.full-wrapper {
  width: 100%;
  display: flex; }

.container {
  width: 92%;
  max-width: 1500px;
  margin: 25px auto; }

.header-wrapper {
  background: #888888;
  /* Old browsers */
  background: -moz-linear-gradient(top, #888888 1%, #999999 52%, #888888 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #888888 1%, #999999 52%, #888888 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #888888 1%, #999999 52%, #888888 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#888888', endColorstr='#888888',GradientType=0 );
  /* IE6-9 */
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 25;
  border-top: 1px solid #555;
  box-shadow: 0px 1px 1px #555; }
  .header-wrapper img.hbg {
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 5;
    opacity: 0.1; }
  .header-wrapper > .container {
    margin: 20px auto 15px;
    z-index: 10;
    transition: all 350ms ease-in-out; }
  .header-wrapper header {
    position: relative;
    margin: 0 0 15px; }
    .header-wrapper header .wrapper {
      display: flex;
      justify-content: space-between;
      transition: all 350ms ease-in-out; }
      .header-wrapper header .wrapper .logo-text {
        display: flex;
        flex-direction: column;
        margin: 0; }
        .header-wrapper header .wrapper .logo-text > span {
          font-family: 'Oswald', sans-serif;
          font-size: 11pt;
          letter-spacing: -1px;
          color: #333;
          text-transform: capitalize; }
        .header-wrapper header .wrapper .logo-text a.logo {
          font-weight: 700;
          color: #ed2d00;
          display: inline-block;
          padding: 10px 10px 10px 2px;
          border-radius: 5px;
          margin: 0 10px -9px 0; }
          .header-wrapper header .wrapper .logo-text a.logo h1 {
            font-family: 'Oswald', sans-serif;
            font-size: 40pt;
            letter-spacing: -1px;
            text-transform: capitalize; }
      .header-wrapper header .wrapper .nav {
        display: flex;
        align-items: center; }
        .header-wrapper header .wrapper .nav li {
          font-family: 'Open Sans', sans-serif;
          margin: 10px 15px 0 0;
          font-weight: bold; }
          .header-wrapper header .wrapper .nav li a {
            color: #333;
            transition: all 150ms ease-in-out;
            transform: scale(1);
            display: block; }
          .header-wrapper header .wrapper .nav li a:hover, .header-wrapper header .wrapper .nav li a.active {
            color: #ed2d00;
            transform: scale(1.2); }
      .header-wrapper header .wrapper .phone {
        position: absolute;
        right: 15px;
        color: #eee;
        font-weight: bold; }
  .header-wrapper.rearrange > .container {
    width: 50%; }
    .header-wrapper.rearrange > .container header .wrapper {
      flex-direction: column; }
      .header-wrapper.rearrange > .container header .wrapper .logo-text {
        align-items: center; }
      .header-wrapper.rearrange > .container header .wrapper .nav {
        justify-content: center; }
      .header-wrapper.rearrange > .container header .wrapper .phone {
        right: 40%;
        top: 0; }
  .header-wrapper.mobile {
    background: green; }

.content-wrapper {
  margin-top: 128px; }
  .content-wrapper > .banner {
    position: relative;
    background: #333;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    box-shadow: inset 0px 0px 145px #000;
    overflow: hidden; }
    .content-wrapper > .banner img {
      max-width: 100%;
      top: 0;
      left: 0;
      filter: blur(2px);
      opacity: 0.7;
      transition: filter, opacity 500ms; }
    .content-wrapper > .banner .cta {
      position: absolute;
      right: 7%;
      bottom: 25%; }
      .content-wrapper > .banner .cta h2 {
        color: #fff;
        text-transform: capitalize;
        font-size: 30pt;
        font-weight: bold;
        text-shadow: 0px 1px #333; }
      .content-wrapper > .banner .cta ul {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin: 7px 0 0;
        float: right; }
        .content-wrapper > .banner .cta ul li {
          display: flex;
          width: 49%; }
          .content-wrapper > .banner .cta ul li a {
            display: flex;
            background: #ed2d00;
            color: #fff;
            width: 100%;
            justify-content: center;
            padding: 7px;
            border-radius: 4px;
            text-transform: capitalize;
            border: 1px solid #ba2300;
            transition: background 250ms; }
            .content-wrapper > .banner .cta ul li a:hover {
              cursor: pointer; }
            .content-wrapper > .banner .cta ul li a:hover {
              background: #a11e00; }
          .content-wrapper > .banner .cta ul li:last-child a {
            background: #253d59;
            border: 1px solid #162435; }
            .content-wrapper > .banner .cta ul li:last-child a:hover {
              background: #0f1823; }
    .content-wrapper > .banner:hover > img {
      filter: blur(0px);
      opacity: 1;
      cursor: pointer; }

.content-container {
  display: flex;
  justify-content: space-between; }
  .content-container.band {
    position: relative;
    background: #253d59;
    box-sizing: border-box;
    padding: 30px 5%;
    margin: 0;
    width: 100%;
    max-width: -webkit-fill-available;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #000;
    overflow: hidden; }
    .content-container.band p {
      margin: 0 0 15px; }
    .content-container.band .section {
      margin: 0 0 25px 0; }
    .content-container.band .home-content {
      width: 67%; }
      .content-container.band .home-content p {
        color: #b9d9ff; }
      .content-container.band .home-content .testimonials {
        margin: 0 0 25px 0; }
        .content-container.band .home-content .testimonials .quote {
          font-size: 75pt;
          font-family: 'Passion One', cursive;
          transform: scale(-1, 1);
          position: absolute;
          top: 0;
          left: 0; }
        .content-container.band .home-content .testimonials:nth-child(1) {
          padding: 35px 0 0 45px;
          position: relative; }
      .content-container.band .home-content h4 {
        color: #fff;
        font-size: 14pt;
        font-weight: bold;
        text-transform: capitalize;
        margin: 25px 0 7px; }
    .content-container.band .home-sidebar {
      width: 25%;
      display: flex;
      position: relative;
      flex-direction: column; }
      .content-container.band .home-sidebar h2 {
        margin: 0 0 25px;
        color: #fff; }
      .content-container.band .home-sidebar form {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: 0 0 25px; }
        .content-container.band .home-sidebar form label {
          margin: 0 0 20px;
          color: #efefef; }
          .content-container.band .home-sidebar form label input, .content-container.band .home-sidebar form label textarea {
            margin: 4px 0 0;
            padding: 7px 4px;
            width: 100%;
            border-radius: 2px;
            border: 1px solid #010203;
            font-size: 10pt; }
        .content-container.band .home-sidebar form button {
          background: #ed2d00;
          color: #fff;
          font-size: 12pt;
          border: none;
          padding: 7px; }
      .content-container.band .home-sidebar .affiliations {
        display: flex;
        justify-content: center;
        flex-direction: column; }
        .content-container.band .home-sidebar .affiliations h2 {
          margin-bottom: 10px; }
        .content-container.band .home-sidebar .affiliations li {
          margin: 0 0 15px; }
          .content-container.band .home-sidebar .affiliations li a {
            color: #fff;
            font-size: 15pt;
            text-transform: capitalize;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            position: relative;
            padding: 7px 0; }
            .content-container.band .home-sidebar .affiliations li a i {
              font-size: 22pt;
              position: absolute;
              left: 0; }
        .content-container.band .home-sidebar .affiliations li.social {
          justify-content: center;
          align-content: center;
          display: flex; }
          .content-container.band .home-sidebar .affiliations li.social ul {
            display: flex;
            flex-direction: column;
            width: 100%; }
            .content-container.band .home-sidebar .affiliations li.social ul li {
              margin: 0 0 5px;
              box-sizing: border-box;
              padding: 4px 4px 4px 10px;
              border-radius: 4px; }
              .content-container.band .home-sidebar .affiliations li.social ul li:nth-child(1) {
                background: #d90007; }
              .content-container.band .home-sidebar .affiliations li.social ul li:nth-child(2) {
                background: #3b5998; }
              .content-container.band .home-sidebar .affiliations li.social ul li:nth-child(3) {
                background: #29A036; }
        .content-container.band .home-sidebar .affiliations li.bbb {
          background: #fff;
          padding: 5px;
          box-sizing: border-box;
          border-radius: 10px;
          border-radius: 10px;
          display: inline-flex;
          align-self: center; }
          .content-container.band .home-sidebar .affiliations li.bbb img {
            max-width: 100%;
            max-height: 100px; }
    .content-container.band h2 {
      color: #ff6e2f;
      font-weight: 700;
      font-size: 18pt;
      text-transform: capitalize;
      margin: 0 0 10px; }

.slick-slider {
  height: 250px;
  width: 98%;
  margin: 0 auto; }
  .slick-slider.slick-initialized .slick-slide {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: #000;
    color: #fff;
    margin: 0 15px 0 0; }
    .slick-slider.slick-initialized .slick-slide img {
      max-width: 100%; }

.btt {
  position: fixed;
  right: 2%;
  color: #fff;
  top: 92%;
  font-size: 15pt;
  display: none;
  z-index: 10; }
  .btt:hover {
    cursor: pointer; }

@media only screen and (max-width: 550px) {
  .content-container.container.slider {
    width: 85%; }
  .content-container.container.band {
    padding: 15px 0;
    flex-direction: column-reverse; }
    .content-container.container.band .home-content, .content-container.container.band .home-sidebar {
      display: block;
      width: 95%;
      margin: 0 auto;
      padding: 25px 0 35px; }
    .content-container.container.band .home-sidebar {
      border-bottom: 1px solid #2f4c6e; }
      .content-container.container.band .home-sidebar form {
        margin-bottom: 45px; }
    .content-container.container.band .home-content {
      border-top: 1px solid #152232; } }
