//- index.pug
extends layout.pug

block styles
        link(rel="stylesheet", href="/styles/css/styles.css")
        link(rel="stylesheet", type="text/css", href="scripts/slick-carousel/slick/slick.css")
        link(rel="stylesheet", type="text/css", href="scripts/slick-carousel/slick/slick-theme.css")



block content
    .content-wrapper.gallery
        div.infobar
            span#description
            span#loading Loading Image
            a.close X

        div#thumbsWrapper
            div#content
                img(src="./img/projects/thumbs/decks/1.jpg", alt="./img/projects/decks/1.jpg",title="something 1")
                img(src="./img/projects/thumbs/decks/2.jpg", alt="./img/projects/decks/2.jpg",title="something 2")
                img(src="./img/projects/thumbs/decks/3.jpg", alt="./img/projects/decks/3.jpg",title="something 3")
                img(src="./img/projects/thumbs/decks/4.jpg", alt="./img/projects/decks/4.jpg",title="something 4")
                img(src="./img/projects/thumbs/decks/5.jpg", alt="./img/projects/decks/5.jpg",title="something 5")
                img(src="./img/projects/thumbs/decks/6.jpg", alt="./img/projects/decks/6.jpg",title="something 6")
                img(src="./img/projects/thumbs/decks/7.jpg", alt="./img/projects/decks/7.jpg",title="something 7")
                img(src="./img/projects/thumbs/decks/8.jpg", alt="./img/projects/decks/8.jpg",title="something 8")
                img(src="./img/projects/thumbs/decks/9.jpg", alt="./img/projects/decks/9.jpg",title="something 9")

                img(src="./img/projects/thumbs/fences/1.jpg", alt="./img/projects/fences/1.jpg",title="something 9")
                img(src="./img/projects/thumbs/fences/2.jpg", alt="./img/projects/fences/2.jpg",title="something 9")
                img(src="./img/projects/thumbs/fences/3.jpg", alt="./img/projects/fences/3.jpg",title="something 9")
                img(src="./img/projects/thumbs/fences/4.jpg", alt="./img/projects/fences/4.jpg",title="something 9")

                img(src="./img/projects/thumbs/pergolas/1.jpg", alt="./img/projects/pergolas/1.jpg",title="something 9")
                img(src="./img/projects/thumbs/pergolas/2.jpg", alt="./img/projects/pergolas/2.jpg",title="something 9")
                img(src="./img/projects/thumbs/pergolas/3.jpg", alt="./img/projects/pergolas/3.jpg",title="something 9")
                img(src="./img/projects/thumbs/pergolas/4.jpg", alt="./img/projects/pergolas/4.jpg",title="something 9")

                img(src="./img/projects/thumbs/rehab/1.jpg", alt="./img/projects/rehab/1.jpg",title="something 9")
                img(src="./img/projects/thumbs/rehab/2.jpg", alt="./img/projects/rehab/2.jpg",title="something 9")
                img(src="./img/projects/thumbs/rehab/3.jpg", alt="./img/projects/rehab/3.jpg",title="something 9")
                img(src="./img/projects/thumbs/rehab/4.jpg", alt="./img/projects/rehab/4.jpg",title="something 9")

                img(src="./img/projects/thumbs/roofs/1.jpg", alt="./img/projects/roofs/1.jpg",title="something 9")
                
                div.placeholder
        div#panel
            div#wrapper
                a#prev
                    i.fa.fa-angle-left
                a#next
                    i.fa.fa-angle-right
block bodyscripts
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    script(src='/js/gallery.js')
    script(src='/js/global.js')
