//- index.pug
extends layout.pug

block styles
        link(rel="stylesheet", href="/styles/css/styles.css")

block content
    .content-wrapper
        ul.hero
            li
                .content
                    .message
                        h2 capone 
                            span a new way to build your brand online
                        p
                            | Capone will puts your social media management on 
                            | autopilot.
                        a(href="/learn").btn-outline learn more
                ul.social
                    li 
                        a(href="#contact")
                            i.fas.fa-envelope
                    li 
                        a(href="//twitter.com/caponeio", target="_blank")
                            i.fab.fa-twitter-square
                        
            li.col
                .content
                    .graphic
                    .message
                        h2 unlimited advertising 
                            span at the push of a button
                        p
                            | Capone will put your social media management on 
                            | autopilot.  
                .panel
                    h2 unlimited advertising 
                            span at the push of a button
            li.col
                .content
                    .message
                        h2 take control of your brand perception
                        p
                            | If you don't have a brand presence online
                            | you're missing out on a large part of your 
                            | reach.
                            
                    .graphic
                .panel
                    h2 if you're not first, you're last
                    p - Ricky Bobby
            li.col
                .content
                    .graphic
                    .message
                        h2 make yourself a thought leader
                        p
                            | Become the authority on your niche.
                            | Capone can help you curate and push 
                            | relevant content to your audience
                .panel
                    h2 these are not the droids you are looking for
                    p Some more test text
block bodyscripts
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    script(src="scripts/jquery.scrollto/jquery.scrollTo.js")
    script(src='/js/global.js')
