//- index.pug
extends layout.pug

block content
    .content-container
        .banner
        ul.ctas
            li 
                a(href="#") one
            li 
                a(href="#") two
            li 
                a(href="#") three