//- index.pug
extends layout.pug

block styles
        link(rel="stylesheet", href="/styles/css/styles.css")

block content
    .content-wrapper
        ul.hero
            li
                .message
                    h2 capone 
                        span a new way to build your brand online
                p
                    | Capone will puts your social media management on 
                    | autopilot. 
                .graphic
            li
                .graphic
                .message
            li
                .message
                .graphic
            li
                .graphic
                .message
block bodyscripts
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    script(src="scripts/jquery.scrollto/jquery.scrollTo.js")
    script(src='/js/global.js')
