//- layout.pug
html(lang="en")
  head
    title Capone
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="keywords", content="Chicago decks, pergolas, covered porches")
    meta(name="robots" content="noindex")
    
    block scripts
        script(defer, src="https://use.fontawesome.com/releases/v5.0.4/js/all.js")
        script(src="./js/modernizr.js")
        
    block styles
        link(rel="stylesheet", href="/styles/css/styles.css")
        link(rel="stylesheet", href="../node_modules/fancybox/dist/css/jquery.fancybox.css")

    body.page(class=active_page)
        .header-wrapper
            header
                .wrapper
                    a.logo(href="/")
                        img(src="./img/logo.png")
                        h1  
                            | capone
                            span.tagline make the competition forgetaboutit
                    
                    include nav.pug

    block content
        
    block bodyscripts
        script(src='./scripts/rxjs/bundles/Rx.js')
        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js")
        script(src='/js/global.js')
        script(src='../node_modules/fancybox/dist/js/jquery.fancybox.js')

    block footer
        footer#footer
            .footer-wrapper
                p.copyright &copy; 2018 
                    a(href="//imperativedesign.net", target="_blank") Imperative Design, INC
            script(type="text/template", id="contactForm")
                form#contact
                    p 
                        input(type="text", placeholder="First Name", name="first-name")
                    p 
                        input(type="text", placeholder="Last Name", name="last-name")
                    p 
                        input(type="text", placeholder="Email", name="email")
                    p 
                        input(type="text", placeholder="Phone Number", name="phone")
                    p
                        textarea(placeholder="Message", name="desc")
                    p 
                        input(type="submit")
