//- layout.pug
html(lang="en")
  head
    title Capone
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="keywords", content="Chicago decks, pergolas, covered porches")

    block scripts
        script(defer, src="https://use.fontawesome.com/releases/v5.0.4/js/all.js")
        script(src="./js/modernizr.js")
        
    block styles
        link(rel="stylesheet", href="/styles/css/styles.css")

    body.page(class=active_page)
        .header-wrapper
            header
                .wrapper
                    a.logo(href="#")
                        img(src="./img/logo.png")
                        h1  
                            | capone
                            span.tagline make the competition forgetaboutit
                    
                    include nav.pug

    block content

    block bodyscripts
        script(src='./scripts/rxjs/bundles/Rx.js')
        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js")
        script(src='/js/global.js')

    block footer
        footer#footer