//- layout.pug
html(lang="en")
  head
    title Fourth Generation Construction Inc | 4GC
    meta(name="viewport", content="width=device-width, initial-scale=1")
    
    block scripts
        script(src="https://use.fontawesome.com/8e07ad6cf8.js")
        script(src="./js/modernizr.js")

    block styles
        link(rel="stylesheet", href="/styles/css/styles.css")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")

    body.page(class=active_page)
        div.header-wrapper.full-wrapper
            img(src="./img/hbg1.png").hbg
            div.container
                header.group
                    .wrapper
                        .logo-text
                            a(href="//www.4gconline.com/").logo
                                h1 4GC
                            span general construction
                        //- a.nav-toggle(href="#")
                        //-     i.fa.fa-bars
                        a.phone(href="tel:7739086311") (773) 908-6311
                        include nav.pug  
                        a.nav-toggle(href="#")
                            <i class="fa fa-bars" aria-hidden="true"></i>    
    block content

    block bodyscripts
        script(src='./scripts/rxjs/bundles/Rx.js')
        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js")
        script(src='/js/global.js')

    block footer
        footer#footer