//- index.pug
extends layout.pug

block styles
        link(rel="stylesheet", href="/styles/css/styles.css")

block content
    .content-wrapper
        .hero
            .hero-wrapper
                .message
                    h2 Who says you can't compete with big business?
                    p Capone puts your social media managment on automation. Keep reading to see how it works.
                    ul.ctas
                        li
                            a(href="#") sign up
                        li
                            a(href="#") ask a question
                .graphic
                    img(src="../img/learn.png")
        .band
            .message
                h2 Automate your online marketing efforts
                p
                    | Capone will level the playing field and put your business on equal 
                    | standing with the guys that hire big dollar <br> companies to manage their
                    | social media. Best of all, it integrates and runs off of services you most
                    | likely already use!
            .message
                h2 How does this magic work?
                p
                    | We started out wanting to solve <strong>the problem</strong>: How do you take great content and sort through it
                    | and keep your social media accounts <br> updated with it? Doing this takes time. It's hard to be 
                    | consitent. We think we have cracked that problem.

                p
                    | Capone uses the concept of sources and outlets to streamline and automate your 
                    | Social Media Management world. We think that you most likely use other products and
                    | services on the web already. Things like Facebook, Twitter, Pocket, Instapaper, WordPress.
                    | We take data from sources that you may already use like Pocket and then push it out to outlets,
                    | which are again, providers you already use like Twitter and Facebook.

                p
                    | In short, to use Capone, all you have to do is bookmark and save content in a way that you normally would
                    | and Capone will handle building <br> your tweets and posts and automatically sending them out.
            .message
                h2 What if I don't use these sources or outlets?
                p
                    | Most, if not all, of the sources and outlets we use are free and drop dead simple to use. 
                    | If you don't already take advantage of them it's super simple to sign up. Then you can just 
                    | setup Capone, forget about them and let Capone get to work building your brand.
         
block bodyscripts
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    script(src="scripts/jquery.scrollto/jquery.scrollTo.js")
    script(src='/js/global.js')
