//- index.pug
extends layout.pug

block styles
        link(rel="stylesheet", href="/styles/css/styles.css")
        link(rel="stylesheet", href="scripts/fancybox/dist/css/jquery.fancybox.css")

block content
    .content-wrapper
        .hero
            .hero-wrapper
                .message
                    h2 We're gonna make you an offer you can't refuse
                    p Why pay big bucks to huge companies for something that takes seconds a week with Capone?
                    ul.ctas
                        li
                            a(href="#") sign up
                        li
                            a(href="#") ask a question
        .band
            .message
                ul.pricing_schedule
                    li 
                        h4.heading intro
                        .box
                            ul
                                li 2 social media accounts
                                li 3 posts per day per account
                                //li comes with some capone branding
                    li 
                        h4.heading individual
                        .box
                            ul
                                li 4 social media accounts
                                li 10 posts per day per account
                                //li.pricing $9.99/mo
                    li 
                        h4.heading small business
                        .box
                            ul
                                li 15 social media accounts
                                li 25 posts per day per account
                                //li.pricing $99.99/mo
                    li 
                        h4.heading enterprise
                        .box
                            p contact for pricing
                //https://evernote.com/get-started
block bodyscripts
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    script(src="scripts/jquery.scrollto/jquery.scrollTo.js")
    script(src='/js/global.js')
    script(src='scripts/fancybox/dist/js/jquery.fancybox.js')