
@import 'reset'
@import 'colors'
@import 'fonts'

body, p, li, a, h1, h2, h3, h4
    font-size: 12pt;
    -webkit-font-smoothing: antialiased;
    font-family: 'Open Sans', sans-serif;
body
    background: #333;
    position: relative;
a
    text-decoration: none;

.full-wrapper
    width: 100%;
    display: flex;

.container
    width: 92%;
    max-width: 1500px;
    margin: 25px auto;

.header-wrapper
    //background: #999999; /* Old browsers */
    background: rgb(136,136,136); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(136,136,136,1) 1%, rgba(153,153,153,1) 52%, rgba(136,136,136,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(136,136,136,1) 1%,rgba(153,153,153,1) 52%,rgba(136,136,136,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(136,136,136,1) 1%,rgba(153,153,153,1) 52%,rgba(136,136,136,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#888888', endColorstr='#888888',GradientType=0 ); /* IE6-9 */
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 25;
    border-top: 1px solid #555;
    box-shadow: 0px 1px 1px #555;
    
    img.hbg
        width: 100%;
        display: block;
        position: absolute;
        left: 0;
        top: -25px;
        z-index: 5;
        opacity: 0.1;
            
    & > .container
        margin: 10px auto 20px;
        z-index: 10;
        transition: all 350ms ease-in-out;

    header
        position: relative;
        margin: 0;
        .wrapper
            display: flex;
            justify-content: space-between;
            transition: all 350ms ease-in-out;
            
            .logo-text
                display: flex;
                flex-direction: column;
                margin: 0; //0 0 0 50px;

                a.logo
                    font-weight: 700;
                    color: $primary;
                    display: inline-block;
                    padding: 10px 10px 10px 2px;
                    border-radius: 5px;
                    margin: 0 10px -9px 0;
                    h1
                        font-family: 'Oswald', sans-serif;
                        font-size: 40pt;
                        letter-spacing: -1px;
                        & > span
                            font-family: 'Oswald', sans-serif;
                            // font-size: 11pt;
                            letter-spacing: -1px;
                            color: #333;
                            text-transform: lowercase;
                            display: inline-block;
                            overflow: hidden;
                            margin: 0 10px 0 0;
                            transition: all 250ms;
                            &:nth-child(1)
                                width: 43px;
                            &:nth-child(2)
                                width: 192px;
                            &:nth-child(3)
                                width: 240px;
                            &.collapsed
                                width: 0;
                                margin: 0;
                    p
                        color: #333;
                        font-weight: 100;
                        font-size: 10pt;
                        text-transform: capitalize;
                        margin: 0 0 0 -3px

            .nav
                display: flex;
                align-items: center;
                transition: height 350ms ease-in-out;
                li
                    font-family: 'Open Sans', sans-serif;
                    margin: 10px 15px 0 0;
                    font-weight: bold;
                    a
                        color: #333;
                        transition: all 150ms ease-in-out;
                        transform: scale(1);
                        display: block;
                    a:hover, a.active
                        color: $primary;
                        transform: scale(1.2);
            .phone
                position: absolute;
                right: 15px;
                color: #eee;
                font-weight: bold; 
    .nav-toggle
        display: none;
        color: #fff;
        font-size: 22pt;

    &.rearrange
        & > .container
            width: 50%;
            header
                .wrapper
                    flex-direction: column;
                    .logo-text
                        align-items: center;
                    .nav
                        justify-content: center;
                    .phone
                        right: 40%;
                        top: -10px;
    &.mobile
        overflow: initial;
        .nav-toggle
            display: block;
            position: absolute;
            right: 8%;
            top: 40%;
        header
            position: initial;
            .wrapper
                justify-content: center;
                .nav
                    flex-direction: column;
                    top: 99%;
                    right: 25%;
                    width: 50%;
                    background: #888888;
                    position: absolute;
                    border-radius: 0 0 5px 5px;
                    border: 1px solid #555;
                    border-top: none;
                    height: 0;
                    overflow: hidden;
                    &.active
                        height: 130px;
                    li
                        width: 100%;
                        margin: 0 auto;
                        text-align: center;
                        &:last-child
                            a
                                padding-bottom: 12px;
                        a
                            padding: 7px;
                            &:hover
                                background: darken(#888888, 5%);
                                cursor: pointer;
                                transform: scale(1);

.gallery .header-wrapper header .wrapper .nav li:nth-child(3) a
    color: $primary;

.content-wrapper
    margin-top: 97px;
    & > .banner
        position: relative;
        background: #333;
        border-top: 1px solid #000;
        border-bottom: 1px solid #000;
        box-shadow: inset 0px 0px 145px #000;
        overflow: hidden;
        img
            max-width: 100%;
            top: 0;
            left: 0;
            filter: blur(2px);
            opacity: 0.7;
            transition: filter, opacity 500ms;
        .cta
            position: absolute;
            right: 10%;
            bottom: 30%;
            h2
                color: #fff;
                text-transform: capitalize;
                font-size: 30pt;
                font-weight: bold;
                text-shadow: 0px 1px #333;
            ul
                display: flex;
                justify-content: space-between;
                width: 100%;
                margin: 7px 0 0;
                float: right;
                li
                    display: flex;
                    width: 49%;
                    a
                        display: flex;
                        background: $primary;
                        color: #fff;
                        width: 100%;
                        justify-content: center;
                        padding: 7px;
                        border-radius: 4px;
                        text-transform: capitalize;
                        border: 1px solid darken($primary, 10%);
                        transition: background 250ms;
                        &:hover
                            cursor: pointer;
                        &:hover
                            background: darken($primary, 15%);
                    &:last-child a
                        background: $cta-secondary;
                        border: 1px solid darken($cta-secondary, 10%);
                        &:hover
                            background: darken($cta-secondary, 15%);
        &:hover > img
            filter: blur(0px);
            opacity: 1;
            cursor: pointer;

.content-container
    display: flex;
    justify-content: space-between;
    &.band
        position: relative;
        background: #253d59;
        box-sizing: border-box;
        padding: 30px 5%;
        margin: 0;
        width: 100%;
        max-width: -webkit-fill-available;
        display: flex;
        justify-content: space-between;
        border-top: 1px solid #000;
        overflow: hidden;
        p
            margin: 0 0 15px;
        .section
            margin: 0 0 25px 0;
        
        .home-content
            width: 67%;
            p
                color: #b9d9ff;
            .testimonials
                margin: 0 0 25px 0;
                height: 55px;
                .quote
                    font-size: 75pt;
                    font-family: 'Passion One', cursive;
                    transform: scale(-1, 1);
                    position: absolute;
                    top: -30px;
                    left: -50px;
                &:nth-child(1)
                    position: relative;
            h4 
                color: #fff;
                font-size: 14pt;
                font-weight: bold;
                text-transform: capitalize;
                margin: 25px 0 7px;
        .home-sidebar
            width: 25%;
            display: flex;
            position: relative;
            flex-direction: column;

            &  h2 
                margin: 0 0 25px;
                color: #fff;

            form
                width: 100%;
                display: flex;
                flex-direction: column;
                margin: 0 0 25px;
                &.error
                    color: #9d0404;
                    background: #ffc1c1;
                    padding: 10px;
                    box-sizing: border-box;
                    border: 1px solid #9d0404;
                    line-height: 1.2;

                &.success
                    color: #055300;
                    background: #d5ffd2;
                    padding: 10px;
                    box-sizing: border-box;
                    border: #055300;
                    line-height: 1.2;

                
                label
                    margin: 0 0 20px;
                    color: #efefef;
                    input, textarea
                        margin: 4px 0 0;
                        padding: 7px 4px;
                        width: 100%;
                        border-radius: 2px;
                        border: 1px solid #010203;
                        font-size: 10pt;
                button
                    background: $primary;
                    color: #fff;
                    font-size: 12pt;
                    border: none;
                    padding: 7px;            
        h2
            color: #ff6e2f;
            font-weight: 700;
            font-size: 18pt;
            text-transform: capitalize;
            margin: 0 0 10px;

.affiliations
                display: flex;
                justify-content: center;
                flex-direction: column;
                h2
                    margin-bottom: 10px;
                li
                    margin: 0 0 15px;
                    a
                        color: #fff;
                        font-size: 10pt;
                        text-transform: capitalize;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 100%;
                        position: relative;
                        padding: 7px 0;
                        box-sizing: border-box;
                        i
                            font-size: 17pt;
                            position: absolute;
                            left: 0;
                li.social
                    justify-content: center;
                    align-content: center;
                    display: flex;
                    ul
                        display: flex;
                        flex-direction: column;
                        width: 100%;

                        li
                            margin: 0 0 5px;
                            box-sizing: border-box;
                            padding: 4px 4px 4px 10px;
                            border-radius: 4px;
                            &:nth-child(1)
                                background: #d90007;
                            &:nth-child(2)
                                background: #3b5998;
                            &:nth-child(3)
                                background: #29A036;

.slick-slider
    height: 250px;
    width: 98%;
    margin: 0 auto;
    
    &.slick-initialized .slick-slide
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        background: #000;
        color: #fff;
        margin: 0 15px 0 0;
        img
            max-width: 100%;

.btt
    position: fixed;
    right: 2%;
    color: #fff;
    top: 92%;
    font-size: 15pt;
    display: none;
    z-index: 10;
    &:hover
        cursor: pointer;

//Gallery
.content-wrapper.gallery
    width: 95%;
    margin: 150px auto 100px;

.infobar
    background: #000;
    height: 28px;
    width: 100%;
    line-height: 28px;
    position: fixed;
    bottom: 0px;
    left: 0;
    z-index: 999999999;
    text-align: center;
    color: #ddd;
    text-shadow: 0px 0px 1px #ccc;
    opacity: 0;
    transition: opacity 250ms;
    &.active
        opacity: 1;
    .close
        display: none;
        right: 2%;
        position: fixed;
        color: red;
        &:hover
            cursor: pointer;
        &.active
            display: inline;

span#description
    text-shadow: 1px 1px 1px #000;
    display: none;

span#loading
    display: none;
    padding-right: 30px;
    background: transparent url(../../img/loading.gif) no-repeat center right;

#thumbsWrapper
    overflow: scroll;
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0px;
    right: 0px;
    bottom: 0px;
    top: 97px;
    transition: all 250ms ease-in-out;
    &.active
        height: 100%;

#content
    position: absolute;
    top: 0px;
    height: 100%;
    width: 100%;
    left: 0px;
    background-color: #111;
    overflow-y: scroll;
    display: none;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0px 0 100px 0;

#content img
    float: left;
    margin: 2px;
    cursor: pointer;
    opacity: 0.4;
    width: 250px;
    height: 250px;

.placeholder
    float: left;
    clear: both;
    width: 100%;
    height: 30px;

#panel
    background-color: #222;
    width: 100%;
    position: fixed;
    top: 97px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 0px;
    text-align: center;
    transition: all 250ms;
    &.active
        height: 100%;

#panel img
    cursor: pointer;
    position: relative;
    border: 1px solid #000;
    -moz-box-shadow: 0px 0px 10px #111;
    -webkit-box-shadow: 0px 0px 10px #111;
    box-shadow: 0px 0px 10px #111;
    display: none;

#wrapper
    position: relative;
    margin: 40px auto 0px auto;
    & > img
        transition: opacity 250ms;
        max-width: 80%;
        max-height: 550px;
        &.dormant
            opacity: 0;
a#next,
a#prev
    width: 40px;
    height: 40px;
    position: fixed;
    cursor: pointer;
    outline: none;
    display: none;
    background: #000;
    flex-direction: column;
    justify-content: center;
    i
        color: #fff;
        font-size: 21pt;
a#next:hover, a#prev:hover
    background-color: #333;
a#next
    right: 0px;
    top: 50%;
    margin-top: -20px;
    background-position: 0px 0px;

a#prev
    left: 0px;
    top: 50%;
    margin-top: -20px;
    background-position: 0px -40px;

footer
    display: flex;
    align-items: flex-start;
    padding: 20px 0 40px;
    box-sizing: border-box;
    justify-content: space-around;
    border-top: 1px solid #000;
    div
        width: 30%;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        &:nth-child(1)
            h4
                &:nth-child(even)
                    margin: 25px 0 0 0;
                
        h4
            font-weight: bold;
            font-size: 17pt;
            color: #999;
            margin: 0 0 5px 0;
            text-transform: capitalize;
        p, li
            color: #565565;
            font-size: 13pt;
            font-weight: 500;
            line-height: 1.4;

        li.bbb
            background: #fff;
            padding: 5px;
            box-sizing: border-box;
            border-radius: 10px;
            border-radius: 10px;
            display: inline-flex;
            align-self: center;
            margin: 12px 0 0 0;

            img
                width: 150px;
                height: 65px;
.gallery
    footer
        display: none;

@import 'mediaqueries';